<ion-content padding class="bg" >
  <ion-card class="center">
    <div>
    <ion-item class="bg">
      <ion-label color="main1">Email</ion-label>
      <ion-input  [(ngModel)]="email" placeholder="Email"></ion-input>
    </ion-item> 
    <ion-item class="bg">
      <ion-label color="main1">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
    </ion-item>
    <button ion-button small round color="main1" class="button_scheme" (tap)="login()">
      LOGIN
    </button>
    <p>New User? <b><a (click)="goToRegisterPage()">Sign Up!</a></b></p>
  </div>
  </ion-card>
</ion-content>
