<!--
  Generated template for the ScheduleAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="main1">
    <ion-title>schedule-add</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-row>
    <span ion-button float-left icon-left clear color="main1" (click)="addNewInputField()">
      <ion-icon name="add" color="main1"></ion-icon>
      Add a new medicine
    </span>
  </ion-row>


  <form [formGroup]="form" (ngSubmit)="manage(form.value)">
    <ion-list margin-bottom>
      <!-- Assign the technologies FormArray to the form
            where we want to track/generate new input track fields -->

      <div formArrayName="medicines" margin-bottom>
        <section [formGroupName]="i" *ngFor="let tech of form.controls.medicines.controls; let i = index">
          <ion-card>
            <ion-card-content>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label stacked color="main1"> Name </ion-label>
                    <ion-input type="text" formControlName="name"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label stacked color="main1"> Instructions </ion-label>
                    <ion-input type="text" (ionChange)="setTimeFields(tech.controls)" [attr.maxlength]="3"  formControlName="instructions"></ion-input>
                  </ion-item>
                </ion-col>
                     
                <ion-col>
                  <ion-item>
                    <ion-label stacked color="main1"> Until </ion-label>
                    <ion-datetime displayFormat="D MMM YYYY" [min]="today" [max]="2020" pickerFormat="DD MMMM YYYY"
                      formControlName="endDate"></ion-datetime>
                  </ion-item>
                </ion-col>

              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item *ngIf="tech.controls.morningValid.value">
                    <ion-label stacked color="main1">Morning Time</ion-label>
                    <ion-datetime displayFormat="hh:mm a"  formControlName="morningTime"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item *ngIf="tech.controls.afternoonValid.value">
                    <ion-label stacked color="main1">Afternoon Time</ion-label>
                    <ion-datetime displayFormat="hh:mm a" formControlName="afternoonTime"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item *ngIf="tech.controls.nightValid.value">
                    <ion-label stacked color="main1">Night Time</ion-label>
                    <ion-datetime displayFormat="hh:mm a" formControlName="nightTime"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <span
                  float-right
                  ion-button
                  icon-left
                  clear
                  color="main1"
                  *ngIf="form.controls.medicines.length > 1"
                  (click)="removeInputField(i)">
                  <ion-icon name="close" color="main1"></ion-icon>
                  Remove
               </span>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </section>
      </div>
    </ion-list>
    <button ion-button round block margin-top color="main1" text-center [disabled]="!form.valid">Next</button>
  </form>
</ion-content>


<!--<ion-header>
  <ion-navbar>
    <ion-title>schedule-add</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-row>
    <span ion-button float-left icon-left clear (click)="addNewInputField()">
      <ion-icon name="add"></ion-icon>
      Add a new medicine
    </span>
  </ion-row>


  <form [formGroup]="form" (ngSubmit)="manage(form.value)">
    <ion-list margin-bottom>
      <!- Assign the technologies FormArray to the form
            where we want to track/generate new input track fields --

      <div formArrayName="medicines" margin-bottom>
        <section [formGroupName]="i" *ngFor="let tech of form.controls.medicines.controls; let i = index">
          <ion-card>
            <ion-card-content>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label stacked color="primary"> Name </ion-label>
                    <ion-input type="text" formControlName="name"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label stacked color="primary"> Instructions </ion-label>
                    <ion-input type="text" formControlName="instructions"></ion-input>
                  </ion-item>
                </ion-col>
                     
                <ion-col>
                  <ion-item>
                    <ion-label stacked color="primary"> Until </ion-label>
                    <ion-datetime displayFormat="D MMM YYYY" [min]="today" [max]="2020" pickerFormat="DD MMMM YYYY"
                      formControlName="endDate"></ion-datetime>
                  </ion-item>
                </ion-col>

              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-label stacked color="primary">Morning Time</ion-label>
                    <ion-datetime displayFormat="hh:mm a" formControlName="morningTime"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label stacked color="primary">Afternoon Time</ion-label>
                    <ion-datetime displayFormat="hh:mm a" formControlName="afternoonTime"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-label stacked color="primary">Night Time</ion-label>
                    <ion-datetime displayFormat="hh:mm a" formControlName="nightTime"></ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <span
                  float-right
                  ion-button
                  icon-left
                  clear
                  *ngIf="form.controls.medicines.length > 1"
                  (click)="removeInputField(i)">
                  <ion-icon name="close"></ion-icon>
                  Remove
               </span>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </section>
      </div>
    </ion-list>
    <button ion-button block margin-top color="primary" text-center [disabled]="!form.valid">Next</button>
  </form>
</ion-content>-->
