<ion-tabs color="main1">
  <ion-tab tabIcon="home" [root]="homePage"></ion-tab>
  <ion-tab tabIcon="list-box" [root]="ordersPage"></ion-tab>

  <ion-tab (ionSelect)="newOrderOptions()" tabIcon="add-circle"></ion-tab>
  <ion-tab tabIcon="alarm" [root]="schedulePage"></ion-tab>
  <ion-tab tabIcon="person" [root]="profilePage"></ion-tab>
</ion-tabs>
  