<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="main1">
    <ion-title>register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding color="main1">

  <form [formGroup]="form">
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input [formControl]="form.controls['name']" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input [formControl]="form.controls['email']" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [formControl]="form.controls['password']" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Dob</ion-label>
      <ion-datetime [formControl]="form.controls['dob']" display-format="DD/MM/YYYY" picker-format="DD MMMM YYYY"></ion-datetime>
    </ion-item>
    <ion-row>

      <ion-col text-center>
        <button ion-button block color="main2" class="cen-reg" (click)="register(form.value)">
          Sign Up
        </button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
