<!--
  Generated template for the ViewBidsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="main1"> 
    <ion-title>ViewBids</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <p id="prescriptionName"><b>Prescription Name :</b> {{request.name}}</p>
    <p id="patientName"><b>Prescription For :</b> {{request.patientName}}</p>
     <p>{{request.address.fullAddress}}</p>

    <h1 item-end>{{request.total}}</h1>
  </ion-item>

  <ion-card *ngFor="let bid of request.bids">
    <ion-item>
      <p id="pharmacyName"><b>{{bid.pharmacyName}}</b> Pharmacy, INR {{bid.total}}</p>
      <!-- <p>{{bid.pharmacyAddress}}</p> -->

      <p>Get order by {{bid.dispatchTime}}, {{bid.dispatchDate}}</p>
      <p *ngIf="bid.delivery"><b>Delivery</b> available</p>
      <p *ngIf="!bid.delivery">Pickup order</p>

      
    <ion-buttons >
        <!-- <button ion-button round color="notifs">Reject</button> -->
        <button round color="main1light" ion-button item-end (click)="goToViewProformaCheckout(bid)">... </button>

      <button ion-button round color="main2"(click)="confirmAccept(bid)">Accept</button>
    </ion-buttons>
  </ion-item>
</ion-card>
</ion-content>

<!--<ion-header>
  <ion-navbar>
    <ion-title>ViewBids</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <p><b>Prescription Name :</b> {{request.name}}</p>
    <p><b>Prescription For :</b> {{request.patientName}}</p>
     <p>{{request.address.fullAddress}}</p>

    <h1 item-end>{{request.total}}</h1>
  </ion-item>

  <ion-card *ngFor="let bid of request.bids">
    <ion-item>
      <p><b>{{bid.pharmacyName}}</b> Pharmacy, INR {{bid.total}}</p>
      <p>{{bid.pharmacyAddress}}</p>
      
    <ion-buttons >
        <button ion-button round color="danger">X</button>
        <button ion-button round (click)="goToViewProformaCheckout(bid)">...</button>

      <button ion-button round (click)="accept(bid)">O</button>
    </ion-buttons>
  </ion-item>
</ion-card>
</ion-content>-->
