page-view-bids {
    #pharmacyName{
        text-transform: capitalize
    }

    #prescriptionName{
        text-transform: capitalize
    }

    #patientName{
        text-transform: capitalize
    }
}
