<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="main1">
    <ion-title>Cart</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <h3 class="center-text" *ngIf="cartServ.total == 0"> Your cart is empty! </h3>
    <ion-item *ngFor="let med of cartServ.medicines; let i = index">
      <div class="center-cart"item-start>
        <h2>{{med['Name']}}, {{med['Type']}}</h2>
       <!-- <p> {{med['Company']}} </p>-->
        <p> {{med['Dosage']}}, {{med['Quantity']}} </p>
        <p> Generic : {{med['Generic Name']}}</p>
        <h3>{{med['Price']}} INR per Unit</h3>
      </div>

      <div item-end>
        <div>
          <ion-row>
           <!-- <ion-col>
              {{med['Price']}} INR per Unit
            </ion-col>-->
            <ion-col>
              <button ion-button small color="main1" (click)="cartServ.decreaseQty(i)">-</button>
            </ion-col>
            <ion-col style="display:flex;justify-content:center;align-items:center">
              {{med['Units']}}
            </ion-col>
            <ion-col >
              <button ion-button small  color="main1" (click)="cartServ.increaseQty(i)">+</button>
            </ion-col>
            <!--<ion-col>
              {{med['Total']}}
            </ion-col>-->
          </ion-row>
        </div>
     
      </div>
    </ion-item>
  </ion-list>
  <h2 *ngIf="cartServ.total > 1"> Total : {{cartServ.total}}</h2>

  <button *ngIf="cartServ.medicines.length >= 1"ion-button round color="main2" class="center-cart" (click)="checkout()">Proceed to Checkout</button>
</ion-content>

