<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="main1">
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button clear (click)="goToCart()">
          <ion-icon name="cart" color="main1"></ion-icon>

      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <p color="main1">Your Previous Records</p>
  <ion-card *ngFor="let record of records" >
    <ion-card-header (click)="goToViewPrescription(record)">
      {{record['name']}}
    </ion-card-header>
  </ion-card>
</ion-content>
