<!--
  Generated template for the ViewProformaCheckoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="main1"> 
    <ion-title>Proforma Invoice</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-item *ngFor="let med of bid.medicines; let i = index">
          <div class="center-p-checkout" item-start>
            <h2>{{med['Name']}}, {{med['Type']}}</h2>
            <!--<p> {{med['Company']}} </p>-->
            <p *ngIf="med['Dosage'] && med['Quantity']"> {{med['Dosage']}}, {{med['Quantity']}} </p>
            <p *ngIf="med['Generic Name']"> Generic : {{med['Generic Name']}}</p>
            <h3>{{med['Price']}} INR per Unit</h3>
          </div>
    
          <div item-end>
            <div>
              <ion-row>
               <!-- <ion-col>
                  {{med['Price']}} INR per Unit
                </ion-col>-->
                
                <ion-col style="display:flex;justify-content:center;align-items:center">
                  {{med['Units']}} Units
                </ion-col>
              
                <ion-col>
                  {{med['Total']}} INR
                </ion-col>
              </ion-row>
            </div>
         
          </div>
        </ion-item>
      </ion-list>
      <h2> Total : {{bid.total}}</h2>
    
</ion-content>

<!--<ion-header>
  <ion-navbar>
    <ion-title>viewProformaCheckout</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngFor="let med of bid.medicines; let i = index">
          <div item-start>
            <h2>{{med['Name']}}, {{med['Type']}}</h2>
            <p> {{med['Company']}} </p>
            <p> {{med['Dosage']}}, {{med['Quantity']}} </p>
            <p> Generic : {{med['Generic Name']}}</p>
          </div>
    
          <div item-end>
            <div>
              <ion-row>
                <ion-col>
                  {{med['Price']}} INR per Unit
                </ion-col>
                
                <ion-col style="display:flex;justify-content:center;align-items:center">
                  {{med['Units']}} Units
                </ion-col>
              
                <ion-col>
                  {{med['Total']}} INR
                </ion-col>
              </ion-row>
            </div>
         
          </div>
        </ion-item>
      </ion-list>
      <p> Total : {{bid.total}}</p>
    
</ion-content>-->
