<ion-header>
  <ion-navbar color="main1">

    <ion-title>
      Home
    </ion-title>
    <ion-buttons end>
      <button clear (click)="goToCart()">
          <ion-icon name="cart" color="main1"></ion-icon>

      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-toolbar>
      <ion-searchbar [(ngModel)]="searchTerm">
      
        </ion-searchbar>
        <ion-buttons end>
            <button ion-button color="main1" (click)="search()">Search</button>
            </ion-buttons>
  </ion-toolbar>
    

<button ion-button small round color="main1" (click)="goToViewBids()"> View Bids </button>
  <ion-card color="main1light">
    <ion-card-header color="light">
      Schedule
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-row>
          <ion-col col-2>9:00</ion-col>
          <ion-col col-10>Medicine Name #1</ion-col>
        </ion-row>
      </ion-item>

    </ion-list>
  </ion-card>

  <ion-card color="notifs">
    <ion-card-header color="light">
      Bids
    </ion-card-header>
    <ion-list>
      <button ion-item>
        Dr. Asthana
      </button>

    </ion-list>
  </ion-card>

  <ion-card color="main2light">
      <ion-card-header color="light">
        Active Orders 
      </ion-card-header>
      <ion-list>
        <button ion-item>
          Dr. Asthana
        </button>
  
      </ion-list>
    </ion-card>
</ion-content> 