<!--
  Generated template for the SearchResultsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="main1">
    <ion-title>Search Results</ion-title>
    <ion-buttons end>
      <button clear (click)="goToCart()">
          <ion-icon name="cart" color="main1"></ion-icon>

      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let med of results">
      <div class="center-search" item-start>
        <h2>{{med['Name']}}, {{med['Type']}}</h2>
        <!--<p> {{med['Company']}} </p>-->
        <p> {{med['Dosage']}}, {{med['Quantity']}} </p>
        <p> Generic : {{med['Generic Name']}}</p>
      </div>

      <div class="center-search" item-end>
        <h2> {{med['Price']}} </h2>
        <button ion-button outline color="main1" (click)="cartServ.addMedicine(med); addedToCartToast(med['Name'])">+</button>
      </div>
    </ion-item>
    

  </ion-list>
</ion-content>

<!--<ion-header>
  <ion-navbar>
    <ion-title>Search Results</ion-title>
    <ion-buttons end>
      <button clear (click)="goToCart()">
          <ion-icon name="cart"></ion-icon>

      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let med of results">
      <div item-start>
        <h2>{{med['Name']}}, {{med['Type']}}</h2>
        <p> {{med['Company']}} </p>
        <p> {{med['Dosage']}}, {{med['Quantity']}} </p>
        <p> Generic : {{med['Generic Name']}}</p>
      </div>

      <div item-end>
        <h1> {{med['Price']}} </h1>
        <button ion-button outline (click)="cartServ.addMedicine(med)">+</button>
      </div>
    </ion-item>
    

  </ion-list>
</ion-content>-->
