page-search-results {
    .list-md .item-block {
        border-bottom: 1px solid $list-md-border-color;
      }
      .list-md .item-block .item-inner {
        border-bottom: 0;
      }
      .center-search{
        //text-align: center;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%
      }
}
