<!--
  Generated template for the ViewBidsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="main1">
    <ion-title>View Requests</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let req of requests">
  
    <ion-card-content>
        <ion-item>
            <p id="prescriptionName"><b>{{req.name}}</b>,{{req.bids.length}} <span *ngIf="req.bids.length == 1">bid</span> <span *ngIf="req.bids.length != 1">bids</span></p>
            <button round color="main1light" ion-button item-end (click)="goToViewBidsPage(req)"> View Bids </button>
        <p>{{req.date}}</p>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>

<!--<ion-header>
    <ion-navbar>
      <ion-title>View Requests</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
  
    <ion-card *ngFor="let req of requests">
    
      <ion-card-content>
          <ion-item>
              <p><b>{{req.name}}</b>,{{req.bids.length}} <span *ngIf="req.bids.length == 1">bid</span> <span *ngIf="req.bids.length != 1">bids</span></p>
              <button round ion-button item-end (click)="goToViewBidsPage(req)"> View Bids </button>
          <p>{{req.date}}</p>
        </ion-item>
  
      </ion-card-content>
    </ion-card>
  </ion-content>-->
  