<!--
  Generated template for the UploadModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="main1">
    <ion-title>UploadModal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding color="main1">
  <img [src]="imageData" style="width:100%">
  <ion-item>
    <ion-label stacked> Enter name </ion-label>
    <ion-input [(ngModel)]="desc"></ion-input>
  </ion-item>
  <button ion-button color="main2" (click)="save()">Save</button>
</ion-content>
