page-schedule-2-add {
    .item.item-md .checkbox-md{
        margin:6px;
    }
    .center-done{
        //text-align: center;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%
    }
}
