<!--
  Generated template for the Schedule_2AddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="main1">
    <ion-title>schedule-2-add</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let med of medicines">
    <ion-card-header>
      <b>{{med.name}}</b> until {{med.endDate}}
    </ion-card-header>
    <ion-card-content>
      <!-- <ion-label stacked>Select Days</ion-label> -->

        <!-- <div *ngFor="let day of med.days;let i=index" [attr.data-index]="i">
          <ion-row *ngIf="i%4==0">
            <ion-col>
              <ion-item>
                <ion-label color="primary">{{day.name}}</ion-label>
                <ion-checkbox color="dark" (click)="selectMember(day,med.selectedDays)" [(ngModel)]="day.checked"></ion-checkbox>
              </ion-item>

            </ion-col>
            <ion-col *ngIf="i+1 < med.days.length">
              <ion-item>
                <ion-label color="primary">{{med.days[i+1].name}}</ion-label>
                <ion-checkbox color="dark" (click)="selectMember(med.days[i+1],med.selectedDays)" [(ngModel)]="med.days[i+1].checked"></ion-checkbox>
              </ion-item>

            </ion-col>
            <ion-col *ngIf="i+2 < med.days.length">
              <ion-item>
                <ion-label color="primary">{{med.days[i+2].name}}</ion-label>
                <ion-checkbox color="dark" (click)="selectMember(med.days[i+2],med.selectedDays)" [(ngModel)]="med.days[i+2].checked"></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col *ngIf="i+3 < med.days.length">
              <ion-item>
                <ion-label color="primary">{{med.days[i+3].name}}</ion-label>
                <ion-checkbox color="dark" (click)="selectMember(med.days[i+3],med.selectedDays)" [(ngModel)]="med.days[i+3].checked"></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col>

            </ion-col> 

          </ion-row> 
        </div> -->


        <ion-row>
          <div *ngFor="let day of med.days;let i=index" [attr.data-index]="i">
            <ion-col>
              <ion-item>
                <ion-label color="main1">{{day.name}}</ion-label>
                <ion-checkbox color="main1light" (click)="selectMember(day,med.selectedDays)" [(ngModel)]="day.checked"></ion-checkbox>
              </ion-item>
              </ion-col>
          </div>
        </ion-row>
          

    </ion-card-content>
  </ion-card>

  <button ion-button round color="main2" class="center-done" (click)="submit()">Done</button>
</ion-content>

<!--<ion-header>
  <ion-navbar>
    <ion-title>schedule-2-add</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let med of medicines">
    <ion-card-header>
      <b>{{med.name}}</b> until {{med.endDate}}
    </ion-card-header>
    <ion-card-content>
      <!- <ion-label stacked>Select Days</ion-label> -->

        <!-- <div *ngFor="let day of med.days;let i=index" [attr.data-index]="i">
          <ion-row *ngIf="i%4==0">
            <ion-col>
              <ion-item>
                <ion-label color="primary">{{day.name}}</ion-label>
                <ion-checkbox color="dark" (click)="selectMember(day,med.selectedDays)" [(ngModel)]="day.checked"></ion-checkbox>
              </ion-item>

            </ion-col>
            <ion-col *ngIf="i+1 < med.days.length">
              <ion-item>
                <ion-label color="primary">{{med.days[i+1].name}}</ion-label>
                <ion-checkbox color="dark" (click)="selectMember(med.days[i+1],med.selectedDays)" [(ngModel)]="med.days[i+1].checked"></ion-checkbox>
              </ion-item>

            </ion-col>
            <ion-col *ngIf="i+2 < med.days.length">
              <ion-item>
                <ion-label color="primary">{{med.days[i+2].name}}</ion-label>
                <ion-checkbox color="dark" (click)="selectMember(med.days[i+2],med.selectedDays)" [(ngModel)]="med.days[i+2].checked"></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col *ngIf="i+3 < med.days.length">
              <ion-item>
                <ion-label color="primary">{{med.days[i+3].name}}</ion-label>
                <ion-checkbox color="dark" (click)="selectMember(med.days[i+3],med.selectedDays)" [(ngModel)]="med.days[i+3].checked"></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col>

            </ion-col> 

          </ion-row> 
        </div> --


        <ion-row>
          <div *ngFor="let day of med.days;let i=index" [attr.data-index]="i">
            <ion-col>
              <ion-item>
                <ion-label color="primary">{{day.name}}</ion-label>
                <ion-checkbox color="dark" (click)="selectMember(day,med.selectedDays)" [(ngModel)]="day.checked"></ion-checkbox>
              </ion-item>
              </ion-col>
          </div>
        </ion-row>
          

    </ion-card-content>
  </ion-card>

  <button ion-button color="tertiary" (click)="submit()">Done</button>
</ion-content>
-->