<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="main1">
    <ion-title>Checkout</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  padding>

  <ion-list>
    <ion-item *ngFor="let med of cartServ.medicines; let i = index">
      <div class="center-checkout" item-start>
        <h2>{{med['Name']}}, {{med['Type']}}</h2>
       <!-- <p> {{med['Company']}} </p>-->
        <p> {{med['Dosage']}}, {{med['Quantity']}} </p>
        <p> Generic : {{med['Generic Name']}}</p>
        <h3> {{med['Price']}} INR per Unit</h3>
      </div>

      <div class="center-checkout" item-end>
        <div>
          <h3> {{med['Units']}} Units</h3>
          <h3>{{med['Total']}} INR</h3>
          <!--<ion-row>
            <ion-col>
              {{med['Price']}} INR per Unit
            </ion-col>
            
            <ion-col style="display:flex;justify-content:center;align-items:center">
              {{med['Units']}} Units
            </ion-col>
          
            <ion-col>
              {{med['Total']}} INR
            </ion-col>
          </ion-row>-->
        </div>
     
      </div>
    </ion-item>
  </ion-list>
  <h2> Total : {{cartServ.total}}</h2>

  <ion-item>
    <ion-label stacked>Name *</ion-label>
    <ion-input [(ngModel)]="cartServ.name"></ion-input>
  </ion-item>
  <button *ngIf="cartServ.medicines.length >= 1 && cartServ.name"ion-button round color="main2" class="center-choose-addr" (click)="goToChooseAddressPage()">Choose Address</button>
</ion-content>
