.center-checkout{
    //text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%
}
.center-choose-addr{
    //text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%
}