<!--
  Generated template for the SchedulePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="main1">
    <ion-title>Schedule</ion-title>
    <ion-buttons end>
      <button clear (click)="goToCart()">
          <ion-icon name="cart" color="main1"></ion-icon>

      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-item no-lines>
      <button (click)="previousDate()" ion-button round item-start color="main1">
        < </button> <p style="text-align:center">{{date}}</p>
          <button (click)="nextDate()" ion-button round item-end color="main1"> > </button>
    </ion-item>
  </ion-row>
  <button ion-button round color="main1" class="center-schedule" (click)="goToAddMedPage()"> Add New Schedule </button>
  <ion-list>
      <ion-item-sliding no-lines *ngFor="let med of medicines">
          <ion-item>
            <!-- <ion-card>
              <ion-card-content> -->
                <ion-row>
                  <ion-col col-2>
                    {{med['time']}} <br>
                  </ion-col>
                  <ion-col>
                   Take {{med['quantity']}} quantity of {{med['name']}} 
                  </ion-col>
                </ion-row>
              <!-- </ion-card-content>
            </ion-card> -->
          </ion-item>
          <ion-item-options side="right">
              <button ion-button color="main1" (click)="delete(med)">
                  <ion-icon name="trash"></ion-icon>Delete
              </button>
          </ion-item-options>
    
      </ion-item-sliding>
  </ion-list>
  

</ion-content>

<!--<ion-header>
  <ion-navbar>
    <ion-title>Schedule</ion-title>
    <ion-buttons end>
      <button clear (click)="goToCart()">
          <ion-icon name="cart"></ion-icon>

      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-item no-lines>
      <button (click)="previousDate()" ion-button round item-start color="primary">
        < </button> <p style="text-align:center">{{date}}</p>
          <button (click)="nextDate()" ion-button round item-end color="primary"> > </button>
    </ion-item>
  </ion-row>
  <button ion-button color="primary" (click)="goToAddMedPage()"> Add New Medicine Schedule </button>
  <ion-list>
      <ion-item-sliding no-lines *ngFor="let med of medicines">
          <ion-item>
             <ion-card>
              <ion-card-content> 
                <ion-row>
                  <ion-col col-2>
                    {{med['time']}} <br>
                    {{med['date']}}
                  </ion-col>
                  <ion-col>
                    {{med['name']}} - {{med['quantity']}}
                  </ion-col>
                </ion-row>
               </ion-card-content>
            </ion-card> 
          </ion-item>
          <ion-item-options side="right">
              <button ion-button (click)="delete(med)">
                  <ion-icon name="trash"></ion-icon>Delete
              </button>
          </ion-item-options>
    
      </ion-item-sliding>
  </ion-list>
  

</ion-content>-->
