<!--
  Generated template for the ViewPrescriptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="main1">
    <ion-title>View Prescription</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding color="main1">
  <img  [src]="image['url']">
  <button ion-button color="main1light" (click)="goToChooseAddressPage()">Choose Address to Broadcast?</button>
</ion-content>
