<!--
  Generated template for the TrackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="main1">
    <ion-title>Track</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let item of order.statusDesc">
      <p>{{item.date}} @ {{item.time}}</p>
      <p>{{item.message}}</p>
    </ion-item>
  </ion-list>
</ion-content>

<!--<ion-header>
  <ion-navbar>
    <ion-title>Track</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let item of order.statusDesc">
      <p>{{item.date}} @ {{item.time}}</p>
      <p>{{item.message}}</p>
    </ion-item>
  </ion-list>
</ion-content>-->
