<!--
  Generated template for the Register_2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="main1">
    <ion-title>Add Address</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <div #map id="map"></div>

  <div id="nonMap">
    <button ion-button small round color="main2" class="center-set-save" (click)="setLocation()">Set</button>
    <ion-item>
      <ion-label stacked>Name The Address</ion-label>
      <ion-input (ionChange)="isValid()" [(ngModel)]="addressName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Address</ion-label>
      <ion-input (ionChange)="isValid()" [(ngModel)]="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>City</ion-label>
      <ion-input (ionChange)="isValid()" [(ngModel)]="city"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Locality</ion-label>
      <ion-input (ionChange)="isValid()" [(ngModel)]="locality"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>PIN Code</ion-label>
      <ion-input (ionChange)="isValid()" [(ngModel)]="postalCode"></ion-input>
    </ion-item>

    <button ion-button *ngIf="valid" small round color="main2" class="center-set-save" (click)="confirmAlert()">Save & Broadcast</button>
  </div>

</ion-content>

<!--<ion-header>
  <ion-navbar>
    <ion-title>Add Address</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <div #map id="map"></div>

  <div id="nonMap">
    <button ion-button (click)="setLocation()">Set</button>
    <ion-item>
      <ion-label stacked>Name The Address</ion-label>
      <ion-input [(ngModel)]="addressName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Address</ion-label>
      <ion-input [(ngModel)]="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>City</ion-label>
      <ion-input [(ngModel)]="city"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Locality</ion-label>
      <ion-input [(ngModel)]="locality"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>PIN Code</ion-label>
      <ion-input [(ngModel)]="postalCode"></ion-input>
    </ion-item>

    <button ion-button (click)="addAddress()">Save & Broadcast</button>
  </div>

</ion-content>-->
