page-broadcast-add-address {
    #map {
        width: 100%;
        height: 50%;
      }
      .center-set-save{
        //text-align: center;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%
    }
}