<!--
  Generated template for the Register_2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="main1">
    <ion-title>Choose Address</ion-title>
    <ion-buttons end>
      <button ion-button color="light" (click)="goToAddAddressPage()">ADD</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list radio-group [(ngModel)]="address">
    <ion-card  *ngFor="let address of addresses" >
      <ion-card-header>
        <ion-item>
            <!-- <b>{{address.name}}</b> -->
            <!-- <ion-item> -->
                <ion-label>{{address.name}}</ion-label>
                <ion-radio color="main1" (ionSelect)="isValid()" [value]="address"></ion-radio>
              <!-- </ion-item> -->
            <!-- <button item-end ion-button color="main1" (click)="broadcast(address)">Choose</button> -->
        </ion-item>
  
  
      </ion-card-header>
      <ion-card-content>{{address.fullAddress}}</ion-card-content>
    </ion-card>
    </ion-list>
  
    <!-- <ion-list radio-group [(ngModel)]="urgent"> -->
        <ion-item >
            <ion-label> Urgent? </ion-label>
            <ion-checkbox color="main1" (ionChange)="isValid()" [(ngModel)]="urgent"></ion-checkbox>
          </ion-item>
    <!-- </ion-list> -->
  
    <ion-item *ngIf="urgent">
        <ion-label>By</ion-label>
        <ion-datetime (ionChange)="isValid()" displayFormat="hh:mm a" [(ngModel)]="by"></ion-datetime>
      </ion-item>
    
    <button *ngIf="valid" color="main1" ion-button (click)="confirmAlert()">Broadcast</button>
  </ion-content>

