
<ion-header>
  <ion-navbar color="main1">
    <ion-title>Orders</ion-title>
    <ion-buttons end>
      <button clear (click)="goToCart()">
          <ion-icon name="cart" color="main1"></ion-icon>

      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label color="main1">Show Only</ion-label>
    <ion-select (ionChange)="filter()" [(ngModel)]="filterPrescriptionBy" >
      <ion-option value="1" [selected]="true" color="main1">Active</ion-option>
      <ion-option value="2" color="main1">Past</ion-option>
    </ion-select>
  </ion-item>

  <ion-card *ngFor="let order of orders">
    <ion-row>
    <ion-col>
    <b>{{order.name}}</b>
    </ion-col>
    <ion-col>
        <button ion-button small round color="main1" class="cen-orders"(click)="goToViewProformaInvoice(order)"> View Details </button>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
         <h3><b>Status :</b>  {{order.statusDesc[order.statusDesc.length - 1].message}}</h3>
      </ion-col>
      <ion-col>
        <button ion-button small round color="main1" class="cen-orders"(click)="goToTrackPage(order)"> Track </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

<!--<ion-header>
  <ion-navbar>
    <ion-title>Orders</ion-title>
    <ion-buttons end>
      <button clear (click)="goToCart()">
          <ion-icon name="cart"></ion-icon>

      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Show Only</ion-label>
    <ion-select (ionChange)="filter()" [(ngModel)]="filterPrescriptionBy">
      <ion-option value="1">Active</ion-option>
      <ion-option value="2">Past</ion-option>
    </ion-select>
  </ion-item>

  <ion-card *ngFor="let order of orders">
      <ion-row>
        <ion-col>
            {{order.name}}
        </ion-col>
        <ion-col>
                <button ion-button color="primary" (click)="goToViewProformaInvoice(order)"> View Details </button>
            </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            Status :{{order.statusDesc[order.statusDesc.length - 1].message}}
        </ion-col>
        <ion-col>
          <button ion-button (click)="goToTrackPage(order)"> Track </button>
        </ion-col>
      </ion-row>
      
  </ion-card>
</ion-content>-->
